#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6rem;
  background-color: $color-dark;

  #bio {
    max-width: 40em;
    background-color: $color-dark;
    color: $color-light;
    filter: brightness(120%);
  }

  #contact {
    text-align: center;
    font-size: 1.1em;
    .contact-item {
      border: 1px solid $color-dark;
      color: $color-light;
      &:hover {
        border: 1px solid $color-light;
      }
      transition: all 0.4s;
    }
  }
}
