$color-light: #eee;
$color-medium: #bbb;
$color-dark: #555;
$accent-light: #4d9de0;
$accent-dark: #554785;

$font-special: "Coda", cursive;
$font-normal: "Montserrat", sans-serif;

$breakdown-sm: 768px;
$breakdown-md: 1100px;
$breakdown-lg: 1700px;

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: $font-normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
  font-weight: normal;
  color: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

@mixin mq($breakdown) {
  @media screen and (min-width: $breakdown) {
    @content;
  }
}

@mixin textbox {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 1em;
  border-radius: 0.25em;
}

@mixin box {
  display: inline-block;
  margin: 0.4em;
  padding: 0.4em;
  border-radius: 0.4em;
  @include mq($breakdown-sm) {
    margin: 1em;
    padding: 1em;
    border-radius: 0.6em;
  }
}

@mixin pill {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 1em;
  border-radius: 999px;
}

@mixin hover-shadow {
  &:hover {
    box-shadow: 0 0 5px 1px $color-medium;
  }
  transition: all 0.4s;
}

@mixin hover-up {
  &:hover {
    box-shadow: 0 6px 5px $color-medium;
    transform: translateY(-6px);
  }
  transition: all 0.4s;
}

@mixin hover-bright {
  &:hover {
    filter: brightness(130%);
  }
  transition: all 0.4s;
}

@mixin hover-scale {
  &:hover {
    transform: scale(1.05);
  }
  transition: all 0.4s;
}

@mixin special {
  font-family: $font-special;
}
