$color-light: hsl(46, 100%, 97%);
$color-medium: hsl(38, 16%, 76%);
$color-dark: hsl(34, 6%, 24%);
$accent-light: hsl(17, 83%, 54%);
$accent-dark: hsl(40, 4%, 14%);

$font-special: "Coda", cursive;
$font-normal: "Open Sans", sans-serif;

$breakdown-sm: 768px;
$breakdown-md: 1100px;

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: $font-normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
  font-weight: normal;
  color: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

@mixin mq($breakdown) {
  @media screen and (min-width: $breakdown) {
    @content;
  }
}

.textbox {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 1em;
  border-radius: 0.25em;
}

.pill {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 1em;
  border-radius: 999px;
}

.box {
  margin: 1em;
  padding: 1em;
  border-radius: 0.6em;
}

.box-sm {
  margin: 0.4em;
  padding: 0.4em;
  border-radius: 0.4em;
}

.hover-shadow {
  &:hover {
    box-shadow: 0 0 5px 1px $color-medium;
  }
  transition: all 0.4s;
}

.hover-up {
  &:hover {
    box-shadow: 0 6px 5px $color-medium;
    transform: translateY(-6px);
  }
  transition: all 0.4s;
}

.hover-bright {
  &:hover {
    filter: brightness(130%);
  }
  transition: all 0.4s;
}

.hover-scale {
  &:hover {
    transform: scale(1.05);
  }
  transition: all 0.4s;
}

.special {
  font-family: $font-special;
}
