#contact {
  padding: 0.1em;
  min-height: 100vh;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $color-light;
  background-image: url("./../../img/mango-matter-1Ms3Zsb1v7g-unsplash.jpg");
  background-size: cover;
  background-position: center center;

  #bio-container {
    #bio {
      @include box;
      max-width: 60em;
      background-color: white;
      opacity: 0.95;
      box-shadow: 0 2px 8px $color-medium;
      header {
        margin: 1em;
        text-align: center;
        h4 {
          @include special;
          font-size: 1.1em;
          color: $accent-light;
        }
      }
      p {
        margin: 1em;
        color: $color-dark;
      }
      hr {
        margin: 1em;
        border: 1px solid $color-light;
      }
    }
  }

  #contact-options {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.1em;
    .contact-item {
      @include textbox;
      @include special;
      @include hover-shadow;
      border: 1px solid $accent-light;
      color: $accent-light;
      &:hover {
        background-color: $accent-light;
        color: white;
      }
    }
  }
}
