#home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  background-color: $color-dark;
  @include mq($breakdown-sm) {
    justify-content: space-evenly;
    align-items: center;
  }

  .header {
    margin: auto;
    font-size: 2em;
    color: $color-light;
    @include mq($breakdown-sm) {
      margin: 0;
    }
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include mq($breakdown-sm) {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    a {
      height: auto;
      line-height: 2em;
      margin: 1em;
      &:not(:last-child) {
        margin-bottom: 0;
      }
      @include mq($breakdown-sm) {
        margin: 0;
      }
      font-size: 1.3em;
      background-color: $color-dark;
      border: 1px solid $color-dark;
      color: $color-light;
      text-align: center;
      &:hover,
      &:active {
        border: 1px solid $accent-light;
        color: $accent-light;
      }
      &:active {
        filter: brightness(120%);
      }
      transition: all 0.4s;
    }
  }
}
