#projects {
  min-height: 100vh;
  font-size: 1.6rem;
}

.projects-group {
  margin: 0.4em;
  padding: 0.4em;
  @include mq($breakdown-sm) {
    margin: 1em;
    padding: 1em;
  }
  border: 1px solid $color-medium;
  @include mq($breakdown-md) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .header {
    width: 100%;
    text-align: center;

    h3 {
      font-size: 1.4em;
    }
  }

  .project {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    @include mq($breakdown-sm) {
      flex-direction: row;
    }
    width: 100%;
    @include mq($breakdown-md) {
      width: 50%;
    }

    .img-container {
      flex: 0 0 auto;
      margin: auto;

      a {
        display: block;
        border: 1px solid $color-medium;
        border-radius: 10px;
        overflow: hidden;
        &:hover {
          box-shadow: 0 3px 5px 1px $color-medium;
          transform: translateY(-3px);
        }
        transition: all 0.4s;

        img {
          height: 160px;
          width: 240px;
          display: block;
          border: none;
          background-color: $color-medium;
        }
      }
    }

    .info {
      flex: 1 1 100%;
      text-align: center;
      @include mq($breakdown-sm) {
        text-align: left;
      }

      .name {
        padding-left: 0;
        // padding-right: 0;
        font-size: 1.4em;
        text-transform: capitalize;
        a:hover {
          color: $accent-light;
        }
        a {
          transition: all 0.3s;
        }
      }

      .repo {
        background-color: $color-dark;
        color: $color-light;
        font-size: 0.7em;
        text-transform: uppercase;
      }

      .tech {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        @include mq($breakdown-sm) {
          justify-content: flex-start;
        }
        margin: 0.2em 0;
        list-style: none;

        li {
          border: 1px solid $accent-light;
          color: $accent-light;
          font-size: 0.8em;
        }
      }
    }
  }
}
